.theme-card {
  border-radius: 16px;
  overflow: hidden;
  background: white;
}

.accent-left-purple {
  border-left: 6px solid #5c67f2 !important;
}

.sidebar-header-slate {
  padding: 12px 20px;
  font-size: 0.65rem;
  font-weight: 800;
  letter-spacing: 1.5px;
}

.avatar-circle {
  width: 32px;
  height: 32px;
  background: #eef2ff;
  color: #5c67f2;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 800;
  font-size: 0.75rem;
}

.tiny-label {
  font-size: 0.6rem;
  font-weight: 800;
  color: #94a3b8;
  padding: 15px 0;
}

.tiny-text {
  font-size: 0.7rem;
}

.bg-soft-danger {
  background-color: #fef2f2;
  border: 1px solid #fee2e2;
}

.bg-soft-success {
  background-color: #f0fdf4;
  border: 1px solid #dcfce7;
}

.table> :not(caption)>*>* {
  border-bottom-color: #f1f5f9;
}

.sidebar-header-slate {


  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  padding: 12px 20px;
  font-size: 0.65rem;
  font-weight: 800;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

.table tbody tr td {
  padding-top: 1rem;
  padding-bottom: 1rem;
  vertical-align: middle;
}

.text-dark.small.fw-bold {
  font-size: 0.9rem;
  color: #1e293b !important;
}

.progress {
  background-color: #f1f5f9;
  border-radius: 10px;
  height: 6px !important;
}

.progress-bar {
  border-radius: 10px;
}

.table-responsive {
  max-height: 30vh;
  overflow-y: auto;
}