<div class="page-wrapper d-flex align-items-center justify-content-center mt-4">
    <div class="auth-card shadow-lg d-flex flex-column flex-md-row">
        <div
            class="col-12 col-md-6 auth-form-bg d-flex align-items-center p-4 p-lg-5 position-relative overflow-hidden order-2 order-md-1">
            <div class="circle circle-1"></div>
            <div class="circle circle-2"></div>
            <div class="circle circle-3"></div>
            <div class="w-100 position-relative" style="z-index: 2;">
                <h2 class="fw-bold mb-4 text-white">Welcome Back</h2>
                <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="mb-3">
                        <label class="form-label text-white">Email</label>
                        <input type="email" class="form-control custom-input" formControlName="email"
                            placeholder="example@mail.com">
                        <div *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched"
                            class="error-msg"> <small *ngIf="loginForm.get('email')?.errors?.['required']">Email is
                                required.</small> <small *ngIf="loginForm.get('email')?.errors?.['email']">Please enter
                                a valid email address.</small> </div>
                    </div>
                    <div class="mb-2">
                        <label class="form-label text-white">Password</label>
                        <input type="password" class="form-control custom-input" formControlName="password"
                            placeholder="Min. 8 characters">
                        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched"
                            class="error-msg">
                            <small>Password is required.</small>
                        </div>

                    </div>
                    <div class="d-flex justify-content-between align-items-center mb-4 mt-4">

                        <a [routerLink]="['/auth/forgot-password']" class="text-white small text-decoration-none">Forgot
                            Password?</a>
                    </div>

                    <button type="submit" class="btn btn-light w-100 fw-bold py-2 rounded-3"
                        [disabled]="loginForm.invalid">
                        Sign In
                    </button>
                </form>

                <p class="mt-4 text-center text-white small">
                    Don't have an account? <a [routerLink]="['/auth/signup']" class="text-white fw-bold">Create
                        Account</a>
                </p>
            </div>
        </div>
        <div
            class="col-12 col-md-6 d-flex align-items-center justify-content-center position-relative order-1 order-md-2">
            <div class="circle circle-img-1"></div>
            <div class="circle circle-img-2"></div>
            <div class="circle circle-img-3"></div>
            <img src="assets/images/stats.jpg" alt="Illustration" class="img-fluid">
        </div>
    </div>
</div>